.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #4C4C4C;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {

    font-size: 30px;
    /*color: #4575d2;*/
}
.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    padding-left: 20px;
    width: auto;
}

.navbar-inverse .navbar-nav>li>a {
    /* color: #9d9d9d; */
    font-weight: 700;
    font-size: 14px;
    color: inherit;
}

.team-name {
    font-size: 18px;
    color: inherit;
    font-weight: 700;
    padding-right: 30px;
}

.ui.block.header {
    margin-top: 0px;
    padding-left: 20px;
}

.dropdown-menu{
    background-color:rgba(51,51,51,1) ;
}

.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #ddd;
    white-space: normal;
}

.navbar-default {
    border-color: transparent;}

.dropdown-menu.login{
    min-width: 400px;
    padding: 60px 50px 50px 60px;
    text-align: center;
}
.dropdown-menu.columns-4 {
    min-width: 1000px;
    width:100%;
}
.dropdown-menu.columns-4.movie-news{
    min-width: 1200px;
}
.dropdown-menu.columns-3 {
    min-width: 800px;
    width:100%;
}

h3 {
    color: white;
    /* font-size: 2.25em; */
    text-align: center;
    margin-top: 1em;
    /* margin-bottom: 2em; */
    /* text-shadow: 0px 2px 0px #000000; */
}

@media (min-width: 979px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}


.dropdown-menu.columns-2 {
    min-width: 400px;
}

.dropdown-menu li a {
    padding: 5px 5px;
    font-weight: 400;
    color: #ddd;
}

.multi-column-dropdown {
    list-style: none;
}

.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}
.dropdown-menu .coloumn-heading {
    font-size: 18px;
}

.nav-movie-news-img{
    max-width: 250px;
}

.form-control.search-bar{
    min-width: 400px;
}
